.profile {
  margin-bottom: 90px;
}

.description {
  padding: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;

  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.avatar {
  margin-bottom: 20px;
  width: 280px;
  border-radius: 30%;
}

.name {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}

.tag {
  margin-bottom: 10px;
}

.tag::before {
  content: '@';
}
.tag,
.location {
  font-size: 30px;
  color: gray;
}

.stats {
  display: flex;
  color: white;
  background-color: green;

  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

.stats > li {
  display: flex;
  flex-direction: column;

  padding: 15px;
}

.stats > li:not(:first-child) {
  border-left: solid 1px white;
}
